.logIn{
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #06283D;
}
.logIn-form{
  background: #1363DF;
}


.a_link{
  color: #ccc;
  text-decoration: none;
  font-size: 13px;
  padding: 5px 0;
  margin: 5px 0;
  display: block;
  transition: all .3s;
}
.a_link:hover {
  color: #fff;
}
