
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Blog-primary: mat.define-palette(mat.$indigo-palette);
$Blog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Blog-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Blog-theme: mat.define-light-theme((
  color: (
    primary: $Blog-primary,
    accent: $Blog-accent,
    warn: $Blog-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Blog-theme);

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/fonts/FontAwesome/all.min.css";
@font-face {
  font-family: IRANSansDNFaNum;
  src: url('assets/fonts/IRANSansDNFaNum/IRANSansDNFaNum.eot');
  src: url('assets/fonts/IRANSansDNFaNum/IRANSansDNFaNum.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/IRANSansDNFaNum/IRANSansDNFaNum.woff2') format('woff2'),
  url('assets/fonts/IRANSansDNFaNum/IRANSansDNFaNum.woff') format('woff'),
  url('assets/fonts/IRANSansDNFaNum/IRANSansDNFaNum.ttf') format('truetype'),
  url('assets/fonts/IRANSansDNFaNum/IRANSansDNFaNum.svg#IRANSansDNFaNum') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: IRANSansDNFaNum_Bold;
  src: url('assets/fonts/IRANSansDNFaNum-Bold/IRANSansDNFaNum-Bold.eot');
  src: url('assets/fonts/IRANSansDNFaNum-Bold/IRANSansDNFaNum-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/IRANSansDNFaNum-Bold/IRANSansDNFaNum-Bold.woff2') format('woff2'),
  url('assets/fonts/IRANSansDNFaNum-Bold/IRANSansDNFaNum-Bold.woff') format('woff'),
  url('assets/fonts/IRANSansDNFaNum-Bold/IRANSansDNFaNum-Bold.ttf') format('truetype'),
  url('assets/fonts/IRANSansDNFaNum-Bold/IRANSansDNFaNum-Bold.svg#IRANSansDNFaNum-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body{
  font-family: IRANSansDNFaNum , sans-serif !important;
  direction: rtl;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.title , .mat-tab-group {
  font-family: IRANSansDNFaNum , sans-serif !important;
}
.mat-tab-label-content , .toast-container span{
  color: #fff !important;
  font-family: IRANSansDNFaNum , sans-serif !important;
}
.mat-tab-header{
  margin-bottom: 1rem;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #fff;
}
.mat-tab-body-wrapper{min-height: 304px !important}
.mat-tab-body-content{display: flex;flex-wrap: wrap;}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
